
.header-container
{
    width:100%;
    position: relative;
    font-family: monospace;
    height: 0.7in;
}
.header
{
    padding-left: 0.2in;
    font-size: 3em;
    color: #ccc;
}
.instructions {
    padding-left: 0.2in;
    color: #ccc;
    
}
.tray {
    background: #eee;
    border-radius: 3em;

    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 60%;
    font-size: 2em;

    text-align: center;
    vertical-align: middle;
    line-height: 3em;

    color: #ddd;

    letter-spacing: 0.3em;
}
.maingrid
{
    width:100%;
    text-align: center;
}
.maingrid tbody {
    padding: 2em;
}
.column
{
    width: 50%;
}
.quick
{
    width: 50%;
    float: left;
}
.quick2
{
    width: 25%;
    float: left;
}
.emergency
{
    width: 33.3%;
    float: left;
}

.full
{
    clear: left;
}
.extended
{
    height: 5em;
    
}
.inner
{
    padding: 1em;
    text-transform: uppercase;
    border-radius: 1.5em;
    border: 0.25em white solid;

    font-family: monospace;
    font-weight: bold;
    font-size: 1.25em;
    position: relative;

}
.inner.weapon
{
    /*background: #900002;*/
    background: #7e0405;
    color: white;
}
.inner.weapon.darker
{
    background: #660002 !important;
}
.weapon .desc
{
    color: #ff9999;
}
.inner.tech
{
    background: #7e2477;
    color: white;
}
.tech .desc
{
    color: #e39cdd;
}
.inner.chassis
{
    /*background: #68bd45; - lancer basic*/ 
    background: #467100;
    color: white;
}
.inner.chassis.darker
{
    background: #253c00 !important;
}
.chassis .desc
{
    /*color: #bbff4d;*/
    color: #e3ffb5;
}

.inner.reaction
{
    background: #f0fffb;
    color: #004433;
    text-transform: none !important;
    padding: 1em !important;
    border-radius: 0.5em !important;
    border: 0.25em white solid;
}
.reaction .desc
{
    /*padding-top: 0.2em;*/
    vertical-align: middle;
    color: #448877;
    font-size: 0.7em;
}

.reaction .desc .right
{
    /*padding-top: 0.2em;*/
    vertical-align: middle;
    color: #448877;
    font-size: 0.6em;
}

.inner.toption
{
    text-transform: none !important;
    border-radius: 0.5em !important;
    background: #f2e9f1;
    color: #440044;
}


.inner.misc
{
    background: #c75a00;
    color: white;
}
.misc .desc
{
    color: #ffff77;
}

.emergency .inner
{
    background: #803900 !important;
}

.desc
{
    text-transform: none;
    float: right;
    font-size: 0.75em;
    font-weight: normal;
}
.desc.right
{
    float: none;
}
.desc.left
{
    position: absolute;
    margin: 1em;
    left: 0px;
    top: 0px;
    height: 100%;
    v-align: center;
}

.roll
{
    padding-left: 2.2in;
    padding-top:0.5in;
    background-image: url(d20.svg);
    background-size: 2em 2em;
    background-repeat:no-repeat;
    color: transparent !important;

}

.toption .roll
{
    background-image: url(d20_violet.svg);
}

.misc .roll
{
    background-image: url(d20_yellow.svg);
}

.chassis .roll
{
    background-image: url(d20_green.svg);
}

@media print {
    .header {
        font-size: 2em !important;
    }
    .tray {
        font-size: 1.5em !important;
        line-height: 3.4em !important;
    }
    /*.desc {
        margin-top: 0.16in !important;
        font-size: 0.5em !important;
    }
    .reaction .desc {
        font-size: 0.4em !important;
    }*/
    .reduced {
        padding-left: 0in;
        padding-right: 0in;
    }

}
